@charset "utf-8";

.header {
	width: 100%;
	.navigation {
		height: 70px;
		background-color: #ffffff;
		border-bottom: 1px solid rgba(0,0,0,.125);
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 0px 20px;
	}
}

.fab {
	color: rgba(0,0,0,.752);
}
