@charset "utf-8";

.header {
	width: 100%;
	.navigation {
		height: 55px;
		background-color: #ffffff;
		border: 1px solid rgba(0,0,0,.125);
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 10px 15px 10px;
	}
}

.fa-angellist {
	color: rgba(0,0,0,.72);
}
