@charset "utf-8";

.header {
	width: 100%;
	margin-bottom: 8px;
	.navigation {
		height: 56px;
		background-color: #ffffff;
		border: 1px solid rgba(0,0,0,.125);
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 15px 12px 15px;
	}
}

.fa-angellist {
	color: rgba(0,0,0,.72);
}
